body {
    position: ;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: ;
    color: ;
  }
  
  h1 {
    margin: 
  }
  
  main {
    padding: ;
  }
  
  li {
    display: inline;
    
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: ;
  }
  
  header {
    height: 92px;
    width: 100%;
    line-height: 60px;
    background-color: #17202A;
  }
  
  header {
    position: fixed;
    
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    
    color: ;    
  }
  
  
  
  img {
    
    display: flex;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: ;
    padding: 
    
    background-color:  ;
  }
  
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  img {
    width: 200px;
    height: 200px;
  } 